<!DOCTYPE html>
<html>
    <head>
        <title>My Bootstrap Website</title>
        <!-- Include Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://unpkg.com/htmx.org@1.9.11"></script>

    <body>
        <h1>DashBoard</h1>
        <h2>Tabela de logs:</h2>
        <div>
            <p hx-get="/get_data" hx-trigger="every 2s">Passos futuros</p>
        </div>

        <h1>Robo</h1>
        <p hx-get="/robot_is_connected" hx-trigger="every 5s">Esperando atulização do estado do robo...</p>

        <div>
            <button hx-put="/initialize_tool" hx-trigger="click" >Ligar Ferramenta</button>
            <button hx-put="/turn_off_tool" hx-trigger="click" >Desligar Ferramenta</button>
            <button hx-put=""  hx-trigger="click">Mover</button>
            <button hx-put="/actual_location"  hx-trigger="click" >Posição Atual</button>
            <button hx-put="/home_position"  hx-trigger="click" >Posição Inicial</button>
            <p id="status_msg"></p>
        </div>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>