<!DOCTYPE html>
<html>
    <head>
        <title>My Bootstrap Website</title>
        <!-- Include Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://unpkg.com/htmx.org@1.9.11"></script>

    <body>
        <h1>DashBoard</h1>
        <h2>Tabela de logs:</h2>
        <div>
            <p hx-get="/get_data" hx-trigger="every 2s">Passos futuros</p>
        </div>

        <h1>Robo</h1>
        <p hx-get="/robot_is_connected" hx-trigger="every 5s">Espaço para conexão do robo</p>

        <div>
            <button>Ligar Ferramenta</button>
            <button>Desligar Ferramenta</button>
            <button>Mover</button>
            <button>Posição Atual</button>
            <button>Posição Inicial</button>
        </div>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>